* {
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	width: 100vw;
	min-height: 100vh;
	background-color: var(--color-bgcolor-neutral-default) !important;
}

body {
	width: 100vw;
	min-height: 100vh;
	background-color: var(--color-bgcolor-neutral-default);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	border: 0.125rem solid var(--color-border-neutral-strong);
	background-color: var(--color-bgcolor-neutral-primary);
	border-radius: 1rem;
	padding: 1rem;
	gap: 1rem;
	width: 100%;
	height: 100%;
	overflow: auto;
}

h1,
h2,
h4 {
	color: var(--color-fgcolor-neutral-primary);
	font-weight: 500 !important;
}

h3 {
	color: #fff;
}

p {
	font-weight: 400 !important;
}

h1,
h2,
h3,
h4,
p {
	text-wrap: auto;
	font-size: 14px !important;
	margin: 0;
}

.card > p,
.card > h4 {
	text-align: left;
}

#about > p,
.card > p {
	color: var(--color-fgcolor-neutral-secondary);
}

.job > .time > p,
.job > .info > p,
.intro-content-text > h2 {
	color: var(--color-fgcolor-neutral-tertiary);
}

hr {
	color: var(--color-border-neutral);
}

#about > p,
.jobs {
	flex-grow: 2;
}

#about > p {
	display: flex;
	justify-self: stretch;
}
